#fContactUs {				
	border: 1px solid #E9E9E9;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	width: 400px;		
	margin: 0 auto;
}

	#fContactUs p {
		padding: 0 2%;
		margin: 5px 0;
		width: 100%;
		overflow: hidden;
	}
	
	#fContactUs .button_wrapper {
		padding: 9px 2px;
		margin-bottom: 5px;
	}
	
	#fContactUs p span {
		padding: 4px 0 0 4px;
		float: left;
	}
	
		#fContactUs .button_wrapper input {
			float: right;
			margin: 0 5px;
			width: auto;
		}
	
		#fContactUs p input, #fContactUs p textarea {
			width: 280px;
			float: right;
		}
		
		#fContactUs p textarea {
			height: 200px;
		}
		
		.ie #fContactUs input, #fContactUs textarea {
			padding: 4px 4px 0 4px;
		}
		
		.ie #fContactUs #btnSend {
			padding: 4px 0px;
		}